sanic
sanic-cors
mysql-connector-python
requests
python-dotenv
cryptography
passlib[bcrypt]
aiomysql
email-validator
pydantic
ldap3
docker
psutil
aio-pika
PyYAML
psycopg2-binary
pandas
watchdog
opensearch-py
websockets
reportlab
